body {
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: [header] 80px [content] auto;
    user-select: none;
}

.header {
    grid-row: header;
    justify-self: center;
}

#effect-area {
    grid-row: content;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 5fr [game-elements] 100px 1fr [history] 4fr;
    /* This refers to #results. Overflow must also be set 
    on the container element for some reason... but it works */
    overflow: hidden;
}

#game-elements {
    grid-row: game-elements;
    justify-self: center;
    align-self: center;
    height: 100%;
    width: 100%;
    display: grid;
}

#text-output {
    justify-self: center;
    align-self: center;
    font-size: x-large;
    text-align: center;
}

#results {
    grid-row: history;
    justify-self: center;
    overflow: hidden;
    max-height: 100%;
}

.history-item {
    display: block;
    text-align: right;
}